@use './utils' as *;
@use './component/button';
@use './component/card';
@import '@euid/scss-mixins';

.box {
  width: $w;
  margin-left: $w;
  background: $color-primary url($url-images + 'bg.jpg');
  font-size: 105px;
}
